<!DOCTYPE html>
<html>
    <%- include('../partials/head',{title: 'home'})%>

  <body>
    <%- include('../partials/header')%>

    <main>

        <section >
            <img src="/images/jhonwic_fondo.jpg" alt="fondo" id="fondo">
        </section>

        
        <section class="Section_padre">
            
            <section class="Section_recomendaciones">
                <h2>Recomendaciones</h2>
                <article class="caja">
                    <div class="pelicula_recomendada">
                        <img src="/images/products/sinister.jpg" alt="imagen de pelicula">
                        <a class="terror" href="/pelicula">Mejores peliculas de terror</a>
                    </div>
                </article>
                <article class="caja">
                    <div class="pelicula_recomendada">
                        <img  src="/images/products/boda.jpg" alt="imagen de pelicula">
                        <a class="comedia" href="/pelicula">Mejores peliculas de comedia</a>
                    </div>
                </article>
                <article class="caja">
                    <div class="pelicula_recomendada">
                        <img  src="/images/products/vengadores.webp" alt="imagen de pelicula">
                        <a class="superheroes" href="/pelicula">Mejores peliculas de superheroes</a>
                    </div>
                </article>
                <article class="caja">
                    <div class="pelicula_recomendada">
                        <img  src="/images/products/spiderman.jpeg" alt="imagen de pelicula">
                        <a class="animadas" href="/pelicula">Mejores peliculas animadas</a>
                    </div>
                </article>
            </section>

            <section class="Section_añadidas">
                <h2>Recientes</h2>

                <% products.filter(products => products.category == "reciente").forEach(({id, año, titulo, descripción, imagen}) => { %>
                    <article class="caja">
                        <div class="product">
                            <a href="/pelicula/<%= id %>">
                                <img width="240" height="240" src="/images/<%= imagen %>" alt="imagen de pelicula">
                            </a>
                            <div class="detalles">

                                <div class="descripción">
                                    <h3><%= titulo %> <%= año %></h3>
                                </div>
                                <h4><%= descripción %></h4>
                            </div>

                        </div>
                    </article>
                <% }) %>
            
                


            </section>

            <section class="Section_peliculas">
                <h2>Peliculas</h2>
                
                <% products.filter(products => products.category == "pelicula").forEach(({id, año, titulo, descripcion, imagen}) => { %>
                    <article class="caja">
                        <div class="product">
                            <a href="/pelicula/<%= id %>">
                                <img width="240" height="240" src="/images/<%= imagen %>" alt="imagen de pelicula">
                            </a>
                            <div class="detalles">

                                <div class="descripción">
                                    <h3><%= titulo %> <%= año %></h3>
                                </div>
                                <h4><%= descripcion %></h4>
                            </div>

                        </div>
                    </article>
                <% }) %>

                
            </section>

            <section class="Section_series">
                <h2>Series</h2>
                
                <% products.filter(products => products.category == "serie").forEach(({id, año, titulo, descripcion, imagen}) => { %>
                    <article class="caja">
                        <div class="product">
                            <a href="/pelicula/<%= id %>">
                                <img width="240" height="240" src="/images/<%= imagen %>" alt="imagen de pelicula">
                            </a>
                            <div class="detalles">

                                <div class="descripción">
                                    <h3><%= titulo %> <%= año %></h3>
                                </div>
                                <h4><%= descripcion %></h4>
                            </div>

                        </div>
                    </article>
                <% }) %>

                
            </section>

        </section>
    </main>

    <%- include('../partials/footer')%>
    
</body>