<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'pelicula'})%>

  <body>
    <%- include('../partials/header')%>

    <main>
        <h1><%= titulo %> (ver online)</h1>
        <iframe width="640" height="360" 
        src="https://www.youtube.com/embed/RRj40M97i6s" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
        </iframe>
        
        <section class="info_pelicula">
            <img width="236" height="354" src="/images/<%= imagen %>" alt="imagen de pelicula">
            
            <div class="datos_pelicula">
                <h5><%= titulo %></h5>
                <p><%= titulo %> <%= año %>: <%= descripción%></p>
                <ul>
                    <li>Título: <%= titulo %></li>
                    <li>Tamaño Del Archivo: <%= peso %> GB</li>
                    <li>Calidad: <%= calidad %> Full HD</li>
                    <li>Audio: <%= idiomaAud %></li>
                    <li>Subtitulos: <%= idiomaSub %></li>
                    <li>Formato: <%= formato %></li>
                    <li>Descargar:<a href="#"><%= link%></a></li>
                </ul> 
            </div>
        </section>
    </main>

    <%- include('../partials/footer')%>
    
</body>