<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'admin'})%>

  <body>
    <%- include('../partials/header')%>

    <main>
        <h1>Admin</h1>    
        <section class="section_admin">
            
            <div class="nuevos_precios">
                <h2>Actualizar Precios de Membresías</h2>
                <form action="#">
                    <input type="number"  name="Membresia1" placeholder="Membresia Internauta" required>
                
                    <input type="number"  name="Membresia2" placeholder="Membresia Aspirante " required>
                
                    <input type="number"  name="Membresia3" placeholder="Membresia señor de mordor" required>
                
                    <input type="number"  name="Membresia4" placeholder="Membresia Kongflix" required>
                
                    <button type="submit">Actualizar Precios</button>
                </form>
            </div>

            <div class="modificar">
                
                <h2>Agregar Peliculas</h2>

                <a class="agregar" href="/productAdd">Agregar</a>

            </div>
            
            
        </section>

        <div class="editar_pelis">
            <h2>Editar peliculas</h2>
        
            <div class="grid-container">
                <div class="cell header">Categoria</div>
                <div class="cell header">Titulo</div>
                <div class="cell header">Año</div>
                <div class="cell header">Modificar</div>

                    
                <% products.forEach(({ id, año, titulo, category }) => { %>
                    <div class="cell"><%= category %></div>
                    <div class="cell"><%= titulo %></div>
                    <div class="cell"><%= año %></div>
                    <div class="cell actions">
                        <a class="modificar" href="/productEdit/<%= id %>">Editar</a>

                        
                        <form action="/remove/<%= id %>?method=DELETE" method="POST">
                            <button type="submit">Eliminar</button>
                        </form>
                        
                    </div>
                <% }) %>
        

            </div>
        
        </body>
        </div>
    </main>

</body>