<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'productAdd'})%>

  <body>
    <%- include('../partials/header')%>
    
    <main>
        <h1>Agregar Pelicula</h1>    
        <section class="section_add">
            <div>
                <form action="/productAdd" method="POST" >

                    
                    <input type="text" name="titulo" class="titulo" id="titulo" placeholder="titulo" required>

                    <select name="category" id="category" required>
                      <option value="" hidden selected >Elige una opcion</option>
                      <% categories.forEach(category => { %>
                        <option value="<%= category %>"  ><%= category %></option>
                      <% }) %>
                    
                    </select>
                    <input type="number" name="año" class="año" id="año" placeholder="año" required>
                    <input type="number" name="peso" class="peso" id="peso" placeholder="tamaño" required>
                    <input type="text" name="calidad" class="calidad" id="calidad" placeholder="calidad" required>

                    <select name="idiomaAud" id="idiomaAud" required>
                      <option value="" hidden selected>Elige el Idioma (aud)</option>
                      <% idioma.forEach(idiomaAud => { %>
                        <option value="<%= idiomaAud %>"  ><%= idiomaAud %></option>
                      <% }) %>
                    </select>

                    <select name="idiomaSub" id="idiomaSub">
                      <option value="" hidden selected>Elige el Idioma (sub)</option>
                      <% idioma.forEach(idiomaSub => { %>
                        <option value="<%= idiomaSub %>"  ><%= idiomaSub %></option>
                      <% }) %>
                    </select>
                    <input type="text" name="formato" class="formato" id="formato" placeholder="formato" required>
                    <input type="text" name="link" class="link"  id="link" placeholder="link" required>
                    
                    <textarea name="descripción" id="descripción" rows="5" cols="50" placeholder="sinopsis" required></textarea>
                    <button type="submit">Subir Pelicula</button>
                </form>
            </div>
            
            
        </section>
    </main>

    <%- include('../partials/footer')%>
    
</body>