<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'productEdit'})%>

  <body>
    <%- include('../partials/header')%>

    <main>
        <h1>Editar Pelicula</h1>    
        <section class="section_add">
            <div>
                <form action="/update/<%= id %>?method=PUT" method="POST">

                    <select name="category" id="category">
                        <option value="" hidden selected >Elige una opcion</option>
                        <% categories.forEach(itemCategory => { %>
                            <option value="<%= itemCategory %>" <%= itemCategory == category && 'selected' %>><%= itemCategory == "pelicula" ? 'pelicula' : 'serie' %></option>
                        <% }) %>
                    </select>

                    <input type="text" value="<%= titulo %>" name="titulo" class="titulo" placeholder="Titulo">
                    
                    <input type="number" value="<%= anio %>" name="anio" class="anio" id="anio" placeholder="Año">

                    <button type="submit">Resubir Pelicula</button>
                </form>
            </div>
            
            
        </section>
    </main>

    
</body>